<div class="home-container">
  <div id="menu">
    <menu></menu>
  </div>
  <div id="feed"></div>

  <div id="new-post-container">
    <div class="requests-container">
      <h2>Solicitudes de Amistad</h2>
      <ul class="request-list">
        @for (request of friendRequests; track $index) {

        <li class="request-item">
          <span>{{ request.nickname }}</span>
          <div class="actions">
            <button
              (click)="acceptRequest(request.id_follow)"
              class="accept-btn"
            >
              Aceptar
            </button>
            <button
              (click)="rejectRequest(request.id_follow)"
              class="reject-btn"
            >
              Rechazar
            </button>
          </div>
        </li>
        }
      </ul>
    </div>
  </div>
</div>
