<div class="comment-modal-container">
  <div class="comments-container">
    <div class="title">
      <h2>Comentarios</h2>
    </div>
    <div class="comment-container">
      <div
        class="comment"
        *ngFor="let c of commentService.comments; let indice = index"
      >
        <img src="/assets/account-images/emoji.svg" />
        <div class="text-space">
          <label class="text">{{ c.comment }}</label>
        </div>
        <button (click)="deleteComment(c.commentId)">
          <img src="/assets/account-images/trash.svg" alt="" />
        </button>
      </div>
    </div>
    <div class="input-container">
      <img src="/assets/account-images/emoji.svg" />
      <input
        type="text"
        placeholder="Añadir un comentario..."
        [(ngModel)]="inputComment"
        (keyup.enter)="publishComment(inputComment)"
      />
      <button (click)="publishComment(inputComment)">Publicar</button>
    </div>
  </div>
</div>
