<div class="container">
  <div id="menu">
    <menu></menu>
  </div>
  <div class="account-container">
    <div id="info">
      <div>
        <img id="profile-pic" src="/assets/images/imagen_4.jpg" alt="imagen" />
      </div>
      <div id="user_names">
        <h4 id="nickname">{{ currentUser?.nickname }}</h4>
        <h5 id="name">{{ currentUser?.name }} {{ currentUser?.last_name }}</h5>
      </div>
      <p class="info-p">
        <span class="info_account">{{ currentUser?.publicationsNumber }}</span>
        publicaciones
      </p>
      <p class="info-p"><span class="info_account">700</span> seguidores</p>
      <p class="info-p"><span class="info_account">401</span> seguidos</p>
    </div>
  </div>
</div>
